.App {
  text-align: center;
  padding: 20px;
  
  border-radius: 10px;
  width: 900px; 
  margin: auto;
  
  box-shadow: 0 4px 12px rgba(5, 219, 219, 0.925); 

}

.App-logo {
  height: 200px; 
  width: 250px; 
  margin-bottom: 20px;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: white;
  min-height: 60vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding: 20px;
  border-radius: 10px;
  
}

h1, h2 {
  color: #333;
  font-weight: normal;
 
}

p {
  color: #666;
  font-size: 1.1em;
  margin: 5px 0;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
